*{
    width:100%;
    height:100%;
    border-radius: 20px;
    gap:20px;
    color:#fff;

}
#calculator{
    width:300px;
    height:500px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px 10px;
    margin-top: 19%;
    margin-left: 25%;
}

#calculator-input{
    font-size: 30px;
    
    border:none;
    background-color: black;
    color: #fff;

}


#upper-btns{
    display:flex;
    margin-top: 10px;
    
}

.first-section{
    display:flex;
}

.second-section{
    display:flex;
}
.third-section{
    display:flex;
}
.fourth-section{
    display:flex;
}
.clear{
    background-color: #333;
    font-size: 20px;
    border:none;
    border-radius: 40%;
}
.delete{
    background-color: #333;
    font-size: 20px;
    border:none;
    border-radius: 40%;
}

.add{
    background-color: orange;
    border:none;
    font-size: 25px;
    border-radius: 50%;
}
.subtract{
    background-color: orange;
    border:none;
    font-size: 25px;
    border-radius: 50%;
}
.multiply{
    background-color: orange;
    border:none;
    font-size: 25px;
    border-radius: 50%;
}
.equal{
    background-color: orange;
    border:none;
    font-size: 25px;
    border-radius: 50%;
    width:120px;

}
.one{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;

}
.two{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;
}
.three{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;
}
.four{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;
}
.five{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;

}

.six{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;
}

.seven{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;
}

.eight{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;
}
.nine{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;
}
.zero{
    font-size: 25px;
    border:none;
    background-color: #333;
    border-radius: 50%;
    width:150px

}

